<div class="row">
  <div class="col-xs-12">
    <h1>License: {{licenseDetail.licenseId}}</h1>
    <h3>Job Number: {{ licenseDetail.job }}</h3>
  </div>
</div>

<hr />


<!-- License  -->
<div class="row">
  <div class="col-xs-12">
    <h4>License Options</h4>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let licOp of licenseDetail.licenseOptions">
        {{ licOp.licenseOption }} - Qty {{ licOp.licenseQty }}
      </li>
    </ul>
  </div>
</div>

<!-- Notes  -->
<div class="row">
  <div class="col-xs-12">
    <h4>Notes <span><button class="btn" (click)="showForm=true">Add New</button></span></h4>

    <form *ngIf="showForm">
      <div clas="form-group">
        <label for="noteTextArea">
          Enter new note
          <span class="pull-right">
            <button class="btn btn-primary" (click)="onAddNewNote()">Save</button>
            <button class="btn btn-danger" (click)="showForm=false">Cancel</button>
          </span>

        </label>
        <textarea class="form-control" id="noteTextArea" rows="3" #noteInput></textarea>
      </div>
    </form>

    <ul class="list-group">
      <li class="list-group-item clearfix"
        *ngFor="let note of licenseDetail.notes; let i = index">
        {{ note }}
        <div class="btn-group pull-right" appDropdown>
          <button class="btn btn-primary dropdown-toggle"
                  type="button"
                   >
                  <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary"
                    (click)="onClickEdit(licenseDetail, i)">Edit</button>
          </ul>
        </div>

      </li>
    </ul>
  </div>
</div>

<div>
  {{ d | amLocal }}
</div>
